.sb-nav-fixed .sb-topnav {
    z-index: 1039;
}
.fixed-top, .sb-nav-fixed #layoutSidenav #layoutSidenav_nav, .sb-nav-fixed .sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: #212529 !important    ;
    justify-content: space-between;
}
.sb-topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1039;
}
.sb-topnav .navbar-brand {
    width: 225px;
    margin: 0;
}

.ps-3 {
    padding-left: 1rem !important;
}
.sb-topnav.navbar-dark #sidebarToggle {
    color: rgba(255, 255, 255, 0.5);
}
.ms-auto {
    margin-left: auto !important;
}
.btn-link:hover{
    color: rgba(255, 255, 255, 1) !important;
    /* background-color: #3f6383 !important ; */
    z-index: 1040;
}
.header-logo{
    display: flex;
    width: 225px;
    max-height: 56px;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-left: 0;
    margin: auto;
}
.header-logo-span{
    width: 100%;
    height: 100%;
    padding: auto;
}
.dropdown-menu{
    margin-left: -100px;
}
a.dropdown-item {
    font-size: 14px;
    left: -50px !important;
    padding: 10px 10px;
}